.form-control{
    width: 90%;
}

.form-text{
    width: 95%;
}

.custom-control{
    padding-left: 2rem;
    padding-top: 1rem;
}

#caption-container{
    margin-bottom: 0rem;
}

#caption{
    margin-bottom: 1.5rem;
    padding-right: 5px;
    padding-left: 5px;
}

.optional{
    visibility: hidden;
}