.lead{
    margin-top: 1rem;
    margin-bottom: 0rem;
}

.my-4{
    margin-top: 0rem!important;
}

.jumbotron .row{
    margin-bottom: 1rem;
}

.jumbotron p{
    margin-bottom: 0rem;
}

.input-info{
    font-family: "Montserrat 600", sans-serif;
    letter-spacing: 1px;
}

.img-thumbnail{
    width: 200px;
}