footer{
  background: #283555;
  color: white;
}

footer .container{
  padding-top: 10px;
  margin-left: 160px;
}

footer .container p{
  font-size: 13px;
}

.icon{
  width: auto;
  height: 25px;
  padding-right: 5px;
}
