.jumbotron{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#container-box {
  max-width: 85%;
  padding: 30px;
  margin-bottom: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#side-menu{
  color: #d5defd;
}

#active {
  color: #283555;
}

.line{
  margin-left: 6px;
  border-left: 3px solid #d5defd;
  height: 90px;
}

#active.line{
  border-left: 3px solid #283555;
}

.dot{
  height: 15px;
  width: 15px;
  background-color: #d5defd;
  border-radius: 50%;
  display: inline-block;
}

#active.dot{
  background-color: #283555;
}

.trustpilot{
  width: 80%;
  text-align: center;
}

.btn-primary:not(:disabled):not(.disabled).active{
  background-color: #283555;
  border-color: transparent;
}

.buttons{
  padding-top: 20px;
  text-align: center;
}
