.image{
    position: relative;
    width: 100%;
}

.parkingImage{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.onTopImage{
  position: absolute; /* To place the text on the image*/
  top: 100px; /* The exact location of the text from the top of the image*/
  width: 100%;
  left: 50px; /* Other beautification stuff */
}

.onTopImage p{
  margin-top: 30px;
  color: white;
  font-size: 30px;
}

h2{
  color: white;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1px;
}

button{
  background: white;
  margin-top: 30px;
  margin-left: 150px;
  height: 50px;
  width: 250px;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  color: #7AB9DC;
  font-size: 25px;
}
